/* Pagination */
.page-link {
    background-color: #ebecf0;
    padding: 12px;
    color: #272727;
    border-radius: 10px;
    user-select: none;
}

.page-link:not(.activePageinate):hover {
    background-color: #b4b3be;
    color: white;
}

.activePageinate {
    background-color: #2196f3;
    color: white;
}