@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Almarai', sans-serif;
    }
}

html {
    background-color: #afb4bd4f;
    scroll-behavior: smooth;
}

.inputPhone::-webkit-outer-spin-button,
.inputPhone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@layer components {
    .paragraph{
        @apply text-sm md:text-lg
    }

    .side-profile-link {
        @apply border-b-[1px] px-2 py-4 hover:bg-[#f4f4f891] text-sm md:text-lg   text-blue-gray-700
    }
    
    .side-profile-link-active {
        @apply border-b-[1px] px-2 py-4 bg-[#424242] text-mainBlue text-sm md:text-lg hover:bg-[#424242] 
    }


}

/* Pagination */
.page-link {
    background-color: #ebecf0;
    padding: 12px;
    color: #272727;
    border-radius: 10px;
    user-select: none;
}

.page-link:not(.activePageinate):hover {
    background-color: #b4b3be;
    color: white;
}

.activePageinate {
    background-color: #2196f3;
    color: white;
}